/*Este es un comentario
de css
*/
/*Las clases y los identificados son los mas usados para referirse a los objetos.
*/
/* es utilizado el numeral para hacer referencia a un ID */
/*para definir los pixeles, es el numero seguido de las letras px, se hace sin espacio. */

#R000 {
    background-color: rgb(110, 97, 110);
}

body {
    background-color: rgb(252, 180, 180);
}

#uno {
    border: 2px solid blue;
    color: purple;
}

#dos {
    color: seagreen;
}

.c_Titulo1{
    color: darkred;
    font-size: 40px;
    font-family: verdana;
}

h1.c_Titulo4{
    color: blueviolet;
    font-size: 30px;
    font-family: verdana;
}


.c_Titulo2{
    color: darkorange;
    font-family: serif;
    font-size: 20px;
}

.c_Titulo6{
    color: rgb(64, 180, 48);
    font-family: serif;
    font-size: 40px;
}

/* Otra forma de generalizar
.c_Titulo1, .c_Titulo2 {
    color: deeppink;
}
*/

p{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
    margin-right: 25px;

    border-top: 2px solid red;
    border-left: 2px solid red;
    border-bottom: 2px solid red;
    border-right: 2px solid red;

    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

span {
    color: greenyellow;
    font-size: 40px;
}

/*esta es una forma tambien de especificar*/
#dos span {
    color: black;
    font-size: 40px;
}

#dos p span {
    color: blue;
    font-size: 10px;
}

p[title="Parrafo 2"]{
    color: lightcoral;
}

p[title="Parrafo 5"]{
    color: darkorange;
}



form input {
    margin-top: 1px;
    margin-left: 30px;
    margin-bottom: 1px;
    margin-right: 0px;

    /* width es el largo de la caja
    height es el alto de la caja*/
    width: 300px;
}

form input[name= "nombre"]{
    height: 20px;
    border: 4px solid red;
}

form #I2{
    width: 300px;
    height: 20px;
    border: 3px solid darkgreen;
}

form #I3{
    height: 40px;
    width: 200px;
    border: 3px solid darkorange;
}

/*Es una forma de modificar un par*/
p.Parrafo_4{
    color: violet;
    /*Diferencias entre em y pixeles, em se adapta en los distintos dispositivos, sin embargo los pixeles se mantienen en su tamaño.*/
    font-size: 35px;
    font-size: 2em;
}


.Parrafo_6{
    border: 4px solid black;
    float: left;
    width: 40%;
}

#p1{
    background-color: darkgoldenrod;
    color: blanchedalmond;
}

#p2{
    background-color: violet;
    color: rgb(32, 35, 201);
}
